table {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: scroll;
}

.t1 {
    width: 20%;
}

.t2 {
    width: 10%;
}

.t3 {
    width: 20%;
}

.t4 {
    width: 20%;
}

.t5 {
    width: 20%;
}

.t6 {
    width: 10%;
}

th {
    color: #FC8E14;
}

td {
    text-overflow: ellipsis;
}

h1 {
    text-align: center;
    color: #E5E5E5;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
    background-color: #555555;
    color: #E5E5E5;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-align: center;
}

#main {
    left: 2px;
    right: 2px;
    width: 100%;
    /*display: inline-flex;*/
    text-align: center;
    background-color: #333333;
    padding-bottom: 10px;
    margin-bottom: -5%;
    padding-bottom: 6%;
    border-radius: 11px;
}

#t_values {
    height: 100%;
    overflow: scroll;
}

tr,
td {
    border-bottom: 1px solid #807f7f;
}